<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm blog application</h1>
		<p>Welcome to my Web App.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, corporis, consequatur, expedita, 
		unde quidem porro explicabo aliquid saepe quis reprehenderit a recusandae aliquam quos rem est? Quam, vel qui incidunt..</p>
		<p>If you'd like to follow along, find me on Twitter <a href="http://twitter.com/">@MackenzieChild</a> or on the web at <a href="http://google.com">Google</a>
	</div>
</div>